#app {
	min-width: 300px;
	max-width: 576px;
}

#app-container {
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(
		to top,
		rgba(145, 149, 177, 0.74),
		transparent 40%
	);
	background-repeat: no-repeat;
}
