:root {
	width: 100vw;
	height: 100vh;
}

body {
	height: 100%;
	width: 100%;
}

#root {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(
		to top,
		rgba(145, 149, 177, 0.712),
		transparent 40%
	);
}

#App {
	height: 100%;
	min-width: 300px;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 0 2rem;
	background-repeat: no-repeat;
}

#Loading {
	z-index: 2000;
}

#Header a {
	color: rgba(93, 101, 153, 0.74);
	font-weight: 400;
}

nav li a {
	height: 40px;
	line-height: 40px;
}
