#app-container {
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(
		to top,
		rgba(145, 149, 177, 0.74),
		transparent 40%
	);
	background-repeat: no-repeat;
}

#loading-mask {
	z-index: 2000;
}

#app {
	min-width: 300px;
	max-width: 360px;
	margin: 0 auto;
}

#header a {
	color: rgba(93, 101, 153, 0.74);
	font-weight: 400;
}

nav li a {
	height: 40px;
	line-height: 40px;
}
